@import "process_runner_colors";
@import "process_runner_button";
@import "process_runner_overlay_popups";

window {
  //background-image: none;
  background-color: $base-bg;
  color: $light-base-bg;
  font-size: 18px;
}
